*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

body {
  background-color: #0b0d17;
  min-height: 100vh;
  color: #d0d6f9;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-span {
  font-weight: 500;
}

.nav-list {
  position: relative;
  z-index: 999;
}

.nav-list::before {
  content: "";
  width: 23rem;
  height: 2px;

  position: absolute;
  left: -20rem;
  z-index: -1;
  background-color: rgba(151, 151, 151, 0.2);
}
.box {
  width: 150px;
  height: 150px;
  background-color: yellow;
  position: absolute;
  z-index: -2;
}
.menu {
  padding: 1.5rem 0;
  position: relative;
  cursor: pointer;
}

.menu.active::after {
  opacity: 1;
}

.mobile-nav {
  background: rgba(208, 214, 249, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.menu::after {
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;

  opacity: 0;
}
.menu:hover::after {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .nav-list::before {
    display: none;
  }
}
